*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container{

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-auto-rows: 200px;
}

.utility{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 10px 10px 5px black ;
    /* letter-spacing: 10px; */

}

#box-1{

    background: linear-gradient(to right, blue, rgb(6, 247, 255), rgb(52, 162, 177), rgb(2, 46, 128));
    grid-column: 1 / span 4;

}

#box-2{

    background: radial-gradient(rgb(255, 11, 11), rgb(243, 138, 0), rgb(255, 255, 6));
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
}

#box-3{

    background: linear-gradient(to bottom, rgb(12, 71, 1),rgb(74, 243, 8),rgb(129, 243, 148));
    grid-column: 4 / span 1;
    grid-row: span 4;
}

#box-4{

    background:linear-gradient(to top right, red, blue, aqua, purple, rgb(255, 35, 163),yellow,rgb(121, 1, 47));
    grid-column: 1 / span 3;
    grid-row: 4 / span 4;
    
}

#box-5{

    background: linear-gradient( to top left, rgb(15, 15, 15), rgb(138, 137, 137) , rgb(216, 215, 216));
    grid-column: 1 / span 4;
    
}