body{
    text-align: center;
    font-family:  'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color: #003049;
    color: #03045e;

}

#aa{
    background-color: #cdb4db;
}

#bb{
    background-color: #ffc8dd;
}

#cc{
    background-color: #ffafcc;
}

#dd{
    background-color: #bde0fe;
}

#ee{
    background-color: #a2d2ff;
}

.ff{
    padding: 60px;
    margin: 30px;
    border-radius: 7px;
}